<div class='fast-drop'>
    <div class='fast-drop-label'>
        <a href="#" class='button-circle'><i class="fas fa-cogs"></i></a>
    </div>
    <div class='fast-drop-open'>
        <a href='index.php?class=BuilderPageBatchUpdate' generator="adianti" style="cursor:pointer">
          Atualizar códigos
        </a>
        <a href='index.php?class=BuilderDatabaseDiffForm&method=onLoad' generator="adianti" style="cursor:pointer">
          Atualizar base de dados
        </a>
        <a href='index.php?class=BuilderMenuUpdate&method=onAskUpdate&register_state=false' generator="adianti" style="cursor:pointer">
          Atualizar menus
        </a>
        <a href='index.php?class=BuilderPermissionUpdate&method=onAskUpdate&register_state=false' generator="adianti" style="cursor:pointer">
          Atualizar permissões
        </a>
        <a href="index.php?class=BuilderConfigList" generator="adianti" style="cursor:pointer">
          Arquivos de configuração
        </a>
        <a class='waves-effect waves-block' href='#' onclick="BuilderEditorCss.initEditorCss()" style="cursor:pointer">
            Editor de estilos
        </a>
        <a href='index.php?class=SystemFrameworkUpdate&method=onReload&register_state=false' generator="adianti" style="cursor:pointer">
          Atualizar framework
        </a>
    </div>
</div>