  <li class="dropdown">
     <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-cog fa-fw fa-lg"></i>
     </a>
     <ul class="dropdown-menu">
        <li class="header">Adianti Builder</li>
        <li class='body'>
            <ul class='menu' style="list-style:none">
                <li>
                    <a class='waves-effect waves-block' onclick="Builder.editPage()" generator="adianti" style="cursor:pointer">
                        <div class="menu-info"> 
                            <span style="font-size: 13px;"> 
                                Editar a página
                            </span>
                        </div>
                    </a>
                </li>
                <li>
                    <a class='waves-effect waves-block' href='index.php?class=BuilderPageBatchUpdate' generator="adianti" style="cursor:pointer">
                        <div class="menu-info"> 
                            <span style="font-size: 13px;"> 
                                Atualizar códigos
                            </span>
                        </div>
                    </a>
                </li>
                
                <li>
                    <a class='waves-effect waves-block' href='index.php?class=BuilderDatabaseDiffForm&method=onLoad' generator="adianti" style="cursor:pointer">
                        <div class="menu-info"> 
                            <span style="font-size: 13px;"> 
                                Atualizar base de dados
                            </span>
                        </div>
                    </a>
                </li> 
                <li>
                    <a class='waves-effect waves-block' href='index.php?class=BuilderMenuUpdate&method=onAskUpdate&register_state=false' generator="adianti" style="cursor:pointer">
                        <div class="menu-info"> 
                            <span style="font-size: 13px;"> 
                                Atualizar menus
                            </span>
                        </div>
                    </a>
                </li>
                <li>
                    <a class='waves-effect waves-block' href='index.php?class=BuilderPermissionUpdate&method=onAskUpdate&register_state=false' generator="adianti" style="cursor:pointer">
                        <div class="menu-info"> 
                            <span style="font-size: 13px;"> 
                                Atualizar permissões
                            </span>
                        </div>
                    </a>
                </li>
                <li>
                    <a class='waves-effect waves-block' href='index.php?class=BuilderConfigList' generator="adianti" style="cursor:pointer">
                        <div class="menu-info"> 
                            <span style="font-size: 13px;"> 
                                Arquivos de configuração
                            </span>
                        </div>
                    </a>
                </li>
                <li>
                    <a class='waves-effect waves-block' href='#' onclick="BuilderEditorCss.initEditorCss()" style="cursor:pointer">
                        <div class="menu-info"> 
                            <span style="font-size: 13px;"> 
                                Editor de estilos
                            </span>
                        </div>
                    </a>
                </li>
                <li>
                    <a class='waves-effect waves-block' href='index.php?class=SystemFrameworkUpdate' generator="adianti" style="cursor:pointer">
                        <div class="menu-info"> 
                            <span style="font-size: 13px;"> 
                                Atualizar framework
                            </span>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
     </ul>
  </li>