<script src="app/lib/include/builder/builder.js?appver=705" type="text/javascript"></script>
<script src="app/lib/include/builder/builder-editor-css.js?appver=705" type="text/javascript"></script>
<script src="app/lib/include/builder/{template}/BuilderTemplate.js?appver=705" type="text/javascript"></script>
<link href="app/lib/include/builder/{template}/builder.css?appver=705" rel="stylesheet" type="text/css" media="screen">
<script src="app/lib/include/builder/bcontainer/bcontainer.js?appver=705" type="text/javascript"></script>
<link href="app/lib/include/builder/bcontainer/bcontainer.css?appver=705" rel="stylesheet" type="text/css" media="screen">
<script src="app/lib/include/builder/bsignaturedrawcapture/bsignaturedrawcapture.js?appver=705" type="text/javascript"></script>
<link href="app/lib/include/builder/bsignaturedrawcapture/bsignaturedrawcapture.css?appver=705" rel="stylesheet" type="text/css" media="screen">