<script src="app/lib/include/admin-all.min.js?appver=701" type="text/javascript"></script>
<link href="app/lib/include/admin.min.css?appver=701" rel="stylesheet" type="text/css" media="screen">
<link href="app/templates/{template}/css/AdminLTE.min.css" rel="stylesheet" type="text/css" media="screen">
<link href="app/templates/{template}/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" media="screen">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="app/templates/{template}/js/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
<script src="app/templates/{template}/js/app.min.js"></script>
<script src="app/templates/{template}/js/custom.js"></script>
<link rel='stylesheet' href='app/lib/include/c3/c3.min.css'>
<script src='app/lib/include/c3/d3.min.js' type='text/javascript'></script>
<script src='app/lib/include/c3/c3.min.js' type='text/javascript'></script>

<link href="app/templates/theme4/css/sweetalert.css" rel="stylesheet">
<script src="app/templates/theme4/js/sweetalert.min.js"></script>